<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="POST" action="/">
    <div>
        <label for="id">Ticket id</label>
        <input type="number" name="id" />
        <br />
        <label for="accounts">Accounts</label>
        <textarea type="text" name="accounts" rows="15" cols="100"></textarea>
        <br />
        <input type="submit" />
    </div>
</form>